# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Faker.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Work\GitHub\faker-cs\.idea\.idea.Faker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
